Hotels.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace = https://github.com/kjtang1/cse445_a4/Hotels.xsd
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="Hotels">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Hotel" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="Hotel">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="Address" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="Rating" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Address">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="NearstAirport" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
